* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ECF6EC;
}

#screen {
    font-size: 30pt;
    color: #ECF6EC;
    margin-top: 5rem;
}

/* Elements Style */

/*Notice: dont use pixels. Use ems for queries and rems for spacing*/

nav {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 5;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

h1 {
    color: #ECF6EC;
    font-size: 15vw;
    margin: 0 auto;
}

h2 {
    color: #ECF6EC;
    position: static;
    font-size: 37pt;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

h3 {
    margin: 0 auto;
    margin-top: 15rem;
    margin-bottom: 2rem;
}

h4 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

a {
    font-size: 12pt;
    color: #ECF6EC;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    background-color: #ECF6EC;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    font-size: 12pt;
    width: 100%;
    border: none;
}

/* Classes Style */

.main-section {
    background-image: url(../img/home-img.png);
    height: 45vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.sub-section {
    margin-top: -3em;
    background-color: #76A5DA;
    border-radius: 25px;
    z-index: 1;
}

.sub-title {
    z-index: 0;
}

#sub-title-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#product-description {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.product-image {
    background: url(../img/spriteSheet.png);
    width: 100%;
    padding-bottom: 25%;
    background-size: 500%;
}

#img1 {
    background-position: 5% 20%;
}

#img2 {
    background-position: 35% 20%;
}

#img3 {
    background-position: 5% 95%;
}

#img4 {
    background-position: 35% 95%;
}

/* SubClasses Style */

a:hover {
    color: #ECF6EC;
}

button:hover {
    background-color: #5F4BB4;
}

.sub-section>div {
    margin: 0;
    padding: 0;
    width: 100%;
    /*Using flex it's awesome*/
    display: flex;
    /*Using flex it's double awesome*/
    flex-wrap: wrap;
}

.sub-section>div>div {
    padding: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.sub-title>div {
    width: 100%;
    /*Using flex it's awesome*/
    display: flex;
    /*Using flex it's double awesome*/
    flex-wrap: wrap;
}

#sub-title-buttons>div>button {
    background-color: rgb(168, 255, 226);
    height: 3rem;
}

#sub-title-buttons>div>button:hover {
    background-color: #ECF6EC;
}

#product-description>div {
    background-color: #5F4BB4;
}

#product-description>div>h4 {
    color: #ECF6EC;
}

#product-description>div>p {
    color: #ECF6EC;
    font-size: 1rem;
}

#product-description>div>p:last-child {
    font-size: 4.5rem;
    text-align: center;
}

/* Responsive Style */

@media only screen and (max-width: 1200px) {
    /* Element Style */
    /* Classes Style */
    .main-section {
        height: 65vw;
    }
    /* Subclasses Style */
    #product-description>div>p:last-child {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 960px) {
    /* Element Style */
    h4 {
        font-size: 1.2rem;
    }
    /* Classes Style */
    .main-section {
        height: 70vw;
    }
    /* Subclasses Style */
    #product-description>div>p {
        font-size: 0.75rem;
    }
    #product-description>div>p:last-child {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 768px) {
    /* Element Style */
    h2 {
        padding-bottom: 1rem;
    }
    h3 {
        margin-top: 1.5rem;
    }
    button {
        margin-bottom: 1rem;
        font-size: 10pt;
    }
    /* Classes Style */
    .main-section {
        height: 80vw;
    }
    .product-image {
        padding-bottom: 55%;
    }
    /* Subclasses Style */
}

@media only screen and (max-width: 576px) {
    /* Element Style */
    h2 {
        font-size: 22.8pt;
        padding-bottom: 1.5rem;
    }
    button {
        margin-top: 0;
        font-size: 10pt;
    }
    /* Classes Style */
    .main-section {
        height: 100vw;
    }
    /* Subclasses Style */
    #sub-title-buttons>div {
        margin: 0;
        padding: 0;
    }
    #sub-title-buttons>div>button {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
}